<form action="security.php?login_check" method="post">
	<div class="row">
		<div class="medium-5 columns">
			<label> <input type="text" name="username" placeholder="Benutzername">
			</label>
		</div>
		<div class="medium-5 columns">
			<label> <input type="password" name="password" placeholder="Passwort">
			</label>
		</div>
		<div class="medium-2 columns">
			<input type="submit" name="submit" value="login">
		</div>
	</div>
</form>

<a href="index.php?page=registration" class="button">Mitglied werden</a>