<form action="security.php?login_check" method="post">
	<div class="row">
		<div class="medium-4 columns">
			<label> <input type="text" name="username" placeholder="Benutzername">
			</label>
		</div>
		<div class="medium-4 columns">
			<label> <input type="password" name="password" placeholder="Passwort">
			</label>
		</div>
		<div class="medium-1 columns">
            <input type="submit" name="submit" class="button" value="Login">
        </div>
        <div class="medium-3 columns align-middle">
            <a href="registration.php" class="button small secondary">Mitglied werden</a>
        </div>
	</div>
</form>
