<div class="row">
	<div class="large-12 columns">


		<form action="registration.php?register" method="POST" novalidate="novalidate">

			</label> <label>Nickname <input type="text" placeholder="username" name="username"
				required> <span class="form-error"> Gib bitte noch
					einen Nickname ein! </span>
			</label> <label>E-Mail Adresse <input type="text" name="email"
				placeholder="max-mustermann@mail.de" required> <span
				class="form-error"> Gib bitte noch deine E-mail Adresse ein!
			</span>
			</label> <label>Passwort <input type="password" id="password" name="password"
				placeholder="yeti4preZ" aria-describedby="exampleHelpText" required
				pattern="alpha_numeric"> <span class="form-error">
					Gib bitte ein gültiges Passwort ein! </span>
			</label>
			<p class="help-text" id="exampleHelpText">Mindestens 9 Zeichen</p>



			<label>Passwort wiederholen <input type="password" name="password2"
				placeholder="yeti4preZ" required pattern="alpha_numeric"
				data-equalto="password"> <span class="form-error"> Du
					hast dein Passwort falsch wiederholt! </span>
					
			<label><input type="checkbox" name="useragreement" required> Ich habe die
				<a href="index.php?page=useragreement">Nutzungsbedingungen</a> gelesen
				und akzeptiere diese. <span class="form-error"> Du musst
					unsere Nutzungsbedingngen akzeptieren, um dich anzumelden. </span> </label>

			<div data-abide-error class="alert callout" style="display: none;">
				<p>
					<i class="fi-alert"></i> Bitte f&uuml;lle alle Felder
					vollst&auml;ndig aus!
				</p>
			</div>




			<button class="button" type="reset" value="Reset">L&ouml;schen</button>
			<button class="button" type="submit" name="submit" value="Submit">Anmelden</button>


		</form>
	</div>
</div>